
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnseignantLabel">Create or edit a Enseignant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enseignant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enseignant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantId">Enseignant Id</label>
            <input type="number" class="form-control" name="enseignantId" id="field_enseignantId"
                    ng-model="vm.enseignant.enseignantId"
                    required />
            <div ng-show="editForm.enseignantId.$invalid">
                <p class="help-block"
                    ng-show="editForm.enseignantId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.enseignantId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantSesame">Enseignant Sesame</label>
            <input type="text" class="form-control" name="enseignantSesame" id="field_enseignantSesame"
                    ng-model="vm.enseignant.enseignantSesame"
                    required />
            <div ng-show="editForm.enseignantSesame.$invalid">
                <p class="help-block"
                    ng-show="editForm.enseignantSesame.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantSexe">Enseignant Sexe</label>
            <input type="text" class="form-control" name="enseignantSexe" id="field_enseignantSexe"
                    ng-model="vm.enseignant.enseignantSexe"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantNom">Enseignant Nom</label>
            <input type="text" class="form-control" name="enseignantNom" id="field_enseignantNom"
                    ng-model="vm.enseignant.enseignantNom"
                    required />
            <div ng-show="editForm.enseignantNom.$invalid">
                <p class="help-block"
                    ng-show="editForm.enseignantNom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantPrenom">Enseignant Prenom</label>
            <input type="text" class="form-control" name="enseignantPrenom" id="field_enseignantPrenom"
                    ng-model="vm.enseignant.enseignantPrenom"
                    required />
            <div ng-show="editForm.enseignantPrenom.$invalid">
                <p class="help-block"
                    ng-show="editForm.enseignantPrenom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantAdresse">Enseignant Adresse</label>
            <input type="text" class="form-control" name="enseignantAdresse" id="field_enseignantAdresse"
                    ng-model="vm.enseignant.enseignantAdresse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantTelPro">Enseignant Tel Pro</label>
            <input type="text" class="form-control" name="enseignantTelPro" id="field_enseignantTelPro"
                    ng-model="vm.enseignant.enseignantTelPro"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantActif">Enseignant Actif</label>
            <input type="checkbox" class="form-control" name="enseignantActif" id="field_enseignantActif"
                    ng-model="vm.enseignant.enseignantActif"
                     />
            <div ng-show="editForm.enseignantActif.$invalid">
                <p class="help-block"
                    ng-show="editForm.enseignantActif.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enseignantMaj">Enseignant Maj</label>
                <div class="input-group">
                    <input id="field_enseignantMaj" type="text" class="form-control" name="enseignantMaj" datetime-picker="{{dateformat}}" ng-model="vm.enseignant.enseignantMaj" is-open="vm.datePickerOpenStatus.enseignantMaj"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('enseignantMaj')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
